@import url(font-awesome.css);
@import url(media-queries.css);

@font-face {
    font-family: "nothing-you-could-do";
    src: url(../fonts/nothing-you-could-do/NothingYouCouldDo.eot) format("eot");
    src: url(../fonts/nothing-you-could-do/NothingYouCouldDo.ttf) format("ttf");
    src: url(../fonts/nothing-you-could-do/NothingYouCouldDo.woff) format("woff");
}

@font-face {
    font-family: "B Nazanin";
    src: url(../fonts/B-nazanin/BNAZANB.eot) format("eot");
    src: url(../fonts/B-nazanin/BNazanin.ttf) format("ttf");
    src: url(../fonts/B-nazanin/BNazanin.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    font-family: Arial, Helvetica, sans-serif;
}

::selection{
    color: #fff;
    background-color: #7e7e7e;
}

.banner{
    height: 50vw;
    background-image: url(../img/banner-pic.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.h1-banner-container{
    background: linear-gradient(340deg, #000 17%, transparent 90%);
}

.h1-banner{
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0!important;
    font-size: 10vw;
    font-family: "nothing-you-could-do";   
}

.carousel-indicators li{
    border-top: 5px solid #555!important;
    border-bottom: 5px solid #555!important;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(153, 153, 153, 0.753)!important;
    width: 10%!important;
}

section.files{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}

.first-dn,
.aud-files{
    width: 70%;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
    justify-content: space-around;
}

.aud-files > *{
    width: 100%;
    border-radius: 7px;
    margin: 15px 0;
    text-align: center;
}

table, tr, td, th{
    border: 1px solid #666;
    border-collapse: collapse;
    text-align: center;
    font-family: B Nazanin;
    font-size: 20px;
}

.first-table{
    direction: rtl;
    height: 30vw;
    margin: 30px auto;
    cursor: pointer;
}

th{
    font-weight: 800;
    background-color: #6e7e9e8f;
}
td{
    font-weight: 400;
    background-color: #6e7e9e31;
}

table tr:hover{
    background-color: #6e7e9ed3;;
}

.pic-table{
    display: block;
    width: 40%;
    margin: 10px auto;
}

footer{
    position: relative;
    margin-top: 100px;
    text-align: center;
    background-image: url(../img/gallery1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    box-shadow: 0 -13px 46px #555;
}

footer::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: #02020f;
    opacity: .95;
    z-index: 10;
}

footer .footer-inner{
    position: relative;
    width: 80%;
    margin: auto;
    z-index: 100;
}

footer .footer-inner h1{
    font-size: 3.5vw;
    line-height: 2;
    color: #bbb;
    font-family: "nothing-you-could-do";
}

.line{
    height: 1px;
    background-color: rgba(85, 85, 85, 0.678);
}

.github-icon{
    position: relative;
    color: #bbb;
    margin: 10px;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.github-icon:hover{
    color: #fff;
}

.hitler-txt{
    width: 15%;
}

.sources button{
    color: #bbb;
    outline: none;
    border: none;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: transparent;
    transition: color .3s ease-in-out;
}

.sources button:hover{
    color: #888;
}
